.travelImageSm{
    width: 250px;
    height: 166px;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
    border-radius: 8px;
}
.rowTravelImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
}
.basura{
    position: absolute;
    border-radius: 8px;
    background: rgba(209, 159, 159, 0.396);
    border: 1px solid black;
}
.basura:hover{
    background-color: rgba(255, 0, 0, 0.368);
}